.header {
  display: flex;
  justify-content: space-between;
  padding: 5rem 4rem;
}

@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1500px) {
  .header {
    justify-content: space-evenly;
  }
}


.title {
  font-weight: 400;
  font-size: 3.6rem;
  margin-bottom: 1.2rem;

  & > span {
    color: $color-pink;
  }
}

.display {
  font-weight: 400;
  letter-spacing: 0.1rem;
  font-size: 2.1rem;
  margin-bottom: 1.2rem;

  & > span {
    text-transform: uppercase;
  }
}

.notes-display {
  font-weight: 400;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
}

.menu {
  display: flex;
  flex-direction: row-reverse;
  height: 14rem;

  .inactive {
    color: $color-menu-light;
  }

  &-list {
    display: flex;
    flex-direction: column;

    &__item {
      color: $color-menu;
      font-weight: 400;
      font-size: 2.4rem;
      text-align: right;
      cursor: pointer;
      margin-bottom: 1rem;
      
      &.inactive {
        color: $color-menu-light;
      }
    }
  }

  .submenu {
    display: flex;
    margin-right: 8rem;
    flex-direction: column;

    &.inactive {
      display: none;
    }

    &__item {
      color: $color-menu;
      font-weight: 400;
      font-size: 2.4rem;
      text-align: right;
      cursor: pointer;
      margin-bottom: 1rem;
      
      &.inactive {
        color: $color-menu-light;
      }
    }
  }

  .letter-list {
    margin-right: 8rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    width: 36rem;

    &.inactive {
      display: none;
    }

    .letter {
      color: $color-menu;
      font-weight: 400;
      font-size: 2.4rem;
      text-align: center;
      cursor: pointer;

      &.inactive {
        color: $color-menu-light;
      }
    }
  }
}

.mobile-msg, .mobile-msg.inactive {
  display: none;
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 5rem 0; 
  }

  .title {
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .display {
    text-align: center;
  }

  .notes-display {
    text-align: center;
    margin-bottom: 3rem;
  }

  .menu {
    flex-direction: column;
    align-items: center;

    &-list {
      flex-direction: row;
      justify-content: space-between;
      
      &__item {
        text-align: center;
      }
    }

    .submenu {
      flex-direction: row;
      justify-content: space-between;
      width: 60%;
      margin: 2rem 0;
    }

    .letter-list {
      margin: 0;
      width: 80vw;
      height: 12rem;
    }
  }

  .mobile-msg {
    display: block;
    margin: auto;
    margin-top: 8rem;
    color: $color-black;
    font-weight: 400;
    font-size: 1.8rem;
  }
}