.fret {
  position: relative;
  border: 3px solid $color-gray;
  width: 10rem;
  height: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &--open {
    border: none;
  }

  &:not(:last-child) {
    border-right: none;
  }

  &__label {
    position: absolute;
    bottom: -6rem;
    z-index: 2;
  }
}
@media only screen and (max-width: 600px) {
  .fret {
    height: 16rem;
    border-width: 2px;
  }
}
